<p id="notice"><%= notice %></p>

<h1>Community Leaders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @community_leaders.each do |community_leader| %>
      <tr>
        <td><%= link_to 'Show', community_leader %></td>
        <td><%= link_to 'Edit', edit_community_leader_path(community_leader) %></td>
        <td><%= link_to 'Destroy', community_leader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community Leader', new_community_leader_path %>
