<!DOCTYPE html>
<html>
  <head>
    <title>RisingTides</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
 </head>

  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
