<!DOCTYPE html>
<html>
  <head>
    <title>RisingTides</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <% if Rails.env.production? %>
      <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'fullstory.com';
        window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
        window['_fs_org'] = 'Q9J7T';
        window['_fs_namespace'] = 'FS';
        (function(m,n,e,t,l,o,g,y){
            if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
            g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
            o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
            y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
            g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
            g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
            g.log = function(a,b) { g("log", [a,b]) };
            g.consent=function(a){g("consent",!arguments.length||a)};
            g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
            g.clearUserCookie=function(){};
        })(window,document,window['_fs_namespace'],'script','user');
      </script>
    <% end %>
 </head>

  <body>
    <header>
        <%= render :template => 'layouts/_header' %>
    </header>
    <div class="container bg-white">
        <%= yield %>
        <%= react_component("utils/ReportAProblem", {}) %>
    </div>
    <script>
      window.onload = function() {
        if (window.FS) {
          <% if user_signed_in? %>
            FS.identify('vol-<%= current_user.id %>', {
              displayName: '<%= current_user.first_name %> <%= current_user.last_name %>',
              email: '<%= current_user.email %>'
            });
          <% elsif organization_signed_in? %>
            FS.identify('org-<%= current_organization.id %>', {
              displayName: '<%= current_organization.name %>',
              email: '<%= current_organization.email %>'
            });
          <% end %>
        }
      }
    </script>
  </body>
</html>
